POSTGRES_IMAGE=YOUR_POSTGRES_DOCKER_IMAGE

POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DB

## see official kafka docs
KAFKA_IMAGE=YOUR_KAFKA_DOCKER_IMAGE

KAFKA_NODE_ID=YOUR_KAFKA_NODE_ID
KAFKA_PROCESS_ROLES=YOUR_KAFKA_PROCESS_ROLES
KAFKA_LISTENERS=YOUR_KAFKA_LISTENERS
KAFKA_CONTROLLER_QUORUM_VOTERS=YOUR_KAFKA_CONTROLLER_QUORUM_VOTERS
CLUSTER_ID=YOUR_CLUSTER_ID
KAFKA_CONTROLLER_LISTENER_NAMES=YOUR_KAFKA_CONTROLLER_LISTENER_NAMES
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=YOUR_KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR